.navbar {
  display: flex;
  padding-right: 1vw;
  margin: 0;
  z-index: 9999;
  background-image: linear-gradient(to right, rgb(83, 226, 171), rgb(78, 208, 248));
  /* justify-content: space-between; */
  /* align-items: center; */
}

.navbar-bottom {
  background-color: #00B952;
  height: 80px;
  display: flex;
}

.menu-bars {
  margin-left: 2vw;
  font-size: 2rem;
  background: none;
  width: 40px;
  text-align: center;

}

.title-bars {
  flex-grow: 2;
  color: rgb(2, 0, 0);
  text-align: center;
}

.navbar-logo {
  position: absolute;
  color: rgb(255, 123, 0);
  justify-self: start;
  margin-left: 60px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  scale: 50%;
  margin-top: 10px;
  max-width: 130px;
  left: 0%;
  transform: translate(-50, -50);
}

.nav-menu {
  background-color: #ffffff;
  border-right: 2px solid #000000;
  box-shadow: 5px 0px 20px #474747;
  width: 300px;
  display: flex;
  position: fixed;
  top: 0;
  height: 100%;
  left: -100%;
  transition: 850ms;
  z-index: 999;
}

.nav-menu.active {
  background-color: #ffffff;
  position: fixed;
  z-index: 99999;
  left: 0;
  transition: 800ms;
  width: 300px;
  position: fixed;
  height: 100%;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 1%;
  list-style: none;
  height: 60px;
}
.flex-nav-home{
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: flex-end;

}
.item-nav-home {
  display: block;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}
.nav-home:hover {
  color: #01c584;
  font-weight: bolder;
  transition: 200ms;
}

.nav-text a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #e6e6e6;
}

.menu-bars a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;

}

.navbar-toggle {

  background-color: #ffffff;

  text-align: right;
  padding-right: 20px;

}

span {
  margin-left: 16px;
}

.nav-link {
  font-size: 10px;
}
.nav-link-admin {
  color:rgb(46, 46, 46);
}
.nav-link-admin:hover {
  color:black;
}
.nav-item-admin {
  width: 10%;
  color:rgb(0, 85, 78);
  transition: 200ms;
}
.nav-item-admin:hover {
 font-weight: bold;
 color:white;
 transition: 200ms;
}