@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    font-family:'Prompt', sans-serif;;
}
body {
   
    background-color: #F0FDF6;
    
}

.btn-type {
    color: #461717;
}
.btn-sign-in{
    color: rgb(128, 128, 128);
}
.btn-sign-in:hover{
    color: #02a54c;
}
.btn-type:hover {
    color: #02a54c;
    transform: scale(1.1);
}

/* UTILITY */
.p-small {
    padding-bottom: 5px;
}

.p-medium {
    padding-bottom: 10px;
}

.p-y {
    padding: 10px 0;
}

.m-y {
    margin: 10px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}


.container {

    max-width: 90%;
    margin: 0 auto;
    /* padding: 0 20px; */
}

.item-container {

    max-width: 100%;
    margin: auto;

    /* padding: 0 20px; */
}

h1 {
    font-size: 3rem;
    line-height: 2;
    text-align: center;
    color: #00B952;
}

main {

    padding: 4rem 0;

}

.slide-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.arrow {
    width: 2rem;
    margin: 0 1rem;
}

section {
    padding: 10px;
    width: 100%;
    /* height: 300px; */
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* border: 1px solid black; */
}

section::-webkit-scrollbar {

    height: 4px;
    width: 8px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
}

section::-webkit-scrollbar-track {

    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section::-webkit-scrollbar-thumb {
    margin: auto;
    background-color: #dd0067;
    outline: 1px solid #dd0067;
    /* border-radius: 100px; */
}

section .thumbnail {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    
    margin-bottom: 20px;
    border: 1px solid var(--black);
    overflow: hidden;
    transform: scale(.95);
    transition: all .3s;
    min-width: 200px;
    border-radius: 20px 20px 20px 20px;
}

section .thumbnail:hover {
    transform: scale(1);
    box-shadow: 0px 0px 15px #d1d1d1;
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #d1d1d1;
}

.circle-btn {
    border-color: #bdbdbd;
    color: #bdbdbd;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-size: 26px;
    width: 400px;
    height: 150px;
}

.circle-btn:hover {
    border-color: #00B952;
    color: #00B952;
}

.frame {
    position: relative;
    width: 100%;
}